<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./wackr.css" rel="stylesheet">

  <!-- Page starts here -->
  <title>Contact Form</title>  
</head>

<body>

<!-- Wackr Logo and text header -->
<header>
  <div class="wackrheader">
	<div class="logo-header">
		<a href="./home.html"><image src="assets/wackrlogo.png" width="50" height="50" alt="WackrLogo"></a>
	</div>
	<div class="text-header">
		<h1>Wackr</h1>
	</div>
  </div>
  <nav>
	<ul class="navigation">
		<li><a href="./home.html">Home</a></li>
		<li><a href="./about.html">About</a></li>
		<li><a href="./solutions.html">Solutions</a></li>
		<li><a href="./signin.html">Sign In</a></li>
	</ul>
  </nav>
</header>
<div class="content">
	<div class="obj-center">
		<h2>Customer Contact</h1> <!-- Something to break up white space on sides of screen -->
				<div>
					<p class="signup-splash"></p>
					<form id="custcontact" class="custcontact">
						<b>
						<label for="empname">Employee Name</label><br>
						<input type="text" id="empname" name="empname" placeholder="Employee name">
						<label for="reason">Reason</label><br>
						<input type="text" id="reason" name="reason" placeholder="What does the customer need to know"><br>
						<label for="custname">Customer Name</label><br>
						<input type="tel" id="custname" name="custname" placeholder="Customer Name"><br>
						<label for="custaddress">Customer Address</label><br>
						<input type="text" id="custaddress" name="custaddress" placeholder="Customer address"><br>
						<label for="city">City</label><br>
						<input type="text" id="city" name="city" placeholder="City"><br>
						<label for="state">State</label><br>
						<input type="text" id="state" name="state" placeholder="State"><br>
						<label for="zipcode">ZIP</label><br>
						<input type="number" id="zipcode" name="zipcode" placeholder="ZIP"><br>
						<label for="contact">Preferred Contact Method</label><br>
						<input type="text" id="contact" name="contact" placeholder="Text"><br>
						<label for="appointment">Scheduled Date of Service</label><br>
						<input type="date" id="appointment" name="appointment" placeholder="city"><br>
						<br>
						<input type="submit" value="Submit"><br>
						</b>
					</form>
				</div>
	</div>
</div>

</body>
	<!-- Page ends here -->
	
<footer class="site-footer">
	<p>Produced by Sentre Solutions</p>
</footer>

</html>