<!DOCTYPE html>
<html>
<!--This page is a template for general page setup -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./wackr.css" rel="stylesheet">

  <!-- Page starts here -->
  <title>Invoice Settings</title>  
</head>

<body>

<!-- Wackr Logo and text header -->
<header>
  <div class="wackrheader">
	<div class="logo-header">
		<a href="./home.html"><image src="assets/wackrlogo.png" width="50" height="50" alt="WackrLogo"></a>
	</div>
	<div class="text-header">
		<h1>Wackr</h1>
	</div>
  </div>
  <nav>
	<ul class="navigation">
		<li><a href="./home.html">Home</a></li>
		<li><a href="./about.html">About</a></li>
		<li><a href="./solutions.html">Solutions</a></li>
		<li><a href="./signin.html">Sign In</a></li>
	</ul>
  </nav>
</header>
<div class="content">
	<!--Content goes here-->
	<h3 class="obj-center">Invoices</h3>
			<div class="settings row">
					<div class="settings column">
						<h4 class="obj-center">Upload Invoice Document</h4>
						<button class="settings buttons">Add Image</button>
					</div>
					<div class="settings column">
						<h4 class="obj-center">Insert Letter Head/Logo</h4>
						<button class="settings buttons">Add Image</button>
					</div>
			</div><br><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Auto Generate Invoice with services rendered</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Auto Generate Invoice Number</label>
					</div>
			</div><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Business Information Included</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Insert Customer ID on Invoice</label>
					</div>
			</div><br><br>
		<p class="horiz-divider"></p>
		
	<h3 class="obj-center">Invoice Customization</h3>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Auto Attach to Customer Profile</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Push Invoice when job complete</label>
					</div>
			</div><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Text/Email</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Add services based on customer's signature</label>
					</div>
			</div><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Allow Customer payment via portal</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Show project lead's name on job</label>
					</div>
			</div><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Email LSR when payment is received</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Itemize Services</label>
					</div>
			</div><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Text Payment Confirmation</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Date of Services on Invoice</label>
					</div>
			</div><br><br>
		<p class="horiz-divider"></p>
	<h3 class="obj-center">Invoice Sections</h3>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Blank</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Account Information</label>
					</div>
			</div><br>
			<div class="settings row">
					<div class="settings column">
						<input type="checkbox"><label class="switch">Itemized Charges</label>
					</div>
					<div class="settings column">
						<input type="checkbox"><label class="switch">Past Due Balance</label>
					</div>
			</div><br>
</div>

</body>
	<!-- Page ends here -->
	
<footer class="site-footer">
	<p>Produced by Sentre Solutions</p>
</footer>

</html>