<!DOCTYPE html>
<html>
<!--This page is a template for general page setup -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./wackr.css" rel="stylesheet">

  <!-- Page starts here -->
  <title>Dashboard Settings</title>  
</head>

<body>

<!-- Wackr Logo and text header -->
<header>
  <div class="wackrheader">
	<div class="logo-header">
		<a href="./home.html"><image src="assets/wackrlogo.png" width="50" height="50" alt="WackrLogo"></a>
	</div>
	<div class="text-header">
		<h1>Wackr</h1>
	</div>
  </div>
  <nav>
	<ul class="navigation">
		<li><a href="./home.html">Home</a></li>
		<li><a href="./about.html">About</a></li>
		<li><a href="./solutions.html">Solutions</a></li>
		<li><a href="./signin.html">Sign In</a></li>
	</ul>
  </nav>
</header>
<div class="content">
	<!--Content goes here-->
	<table class="obj-center">
		<tr>
			<th style="width: 10%;">Settings Home</th>
			<th style="width: 10%;">Services</th>
			<th style="width: 10%;">Qutoes</th>
			<th style="width: 10%;">Invoicing</th>
			<th style="width: 10%;">Pricing/Documents</th>
			<th style="width: 10%;">Account Settings</th>
		</tr>
	</table>
	
	<h3 class="obj-center">Settings Recommendations</h3>
		<div class="settings row">
					<div class="settings column">
						<button class="dash-buttons">Pricing Guide</button>
					</div>
					<div class="settings column">
						<button class="dash-buttons">Discount Guide</button>
					</div>
		</div>
		
		<p class="horiz-divider"></p>
		
		<h3 class="obj-center">Quotes</h3>
			<div class="obj-center">
				<button class="settings buttons">Go to Quotes Settings Dashboard</button>
			</div>
		<p class="horiz-divider"></p>
		<h3 class="obj-center">Services</h3>
		<div class="obj-center">
				<button class="settings buttons">Go to Services Settings Dashboard</button>
			</div>
		<p class="horiz-divider"></p>
		<h3 class="obj-center">Invoicing</h3>
			<div class="settings row">
					<div class="settings column">
						<button class="dash-buttons">Accounting System</button>
					</div>
					<div class="settings column">
						<button class="dash-buttons">Go to Invoicing Systems</button>
					</div>
			</div>
		<p class="horiz-divider"></p>
		<h3 class="obj-center">Pricing & Discounts</h3>
			<div class="settings row">
					<div class="settings column">
						<button class="dash-buttons">Recommendation Search</button>
					</div>
					<div class="settings column">
						<button class="dash-buttons">Pricing/Discounts Presets</button>
					</div>
			</div>
		<p class="horiz-divider"></p>
</div>

</body>
	<!-- Page ends here -->
	
<footer class="site-footer">
	<p>Produced by Sentre Solutions</p>
</footer>

</html>