<!DOCTYPE html>
<html>
<!--This page is a template for general page setup -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./wackr.css" rel="stylesheet">

  <!-- Page starts here -->
  <title>Template</title>  
</head>

<body>

<!-- Wackr Logo and text header -->
<header>
  <div class="wackrheader">
	<div class="logo-header">
		<a href="./home.html"><image src="assets/wackrlogo.png" width="50" height="50" alt="WackrLogo"></a>
	</div>
	<div class="text-header">
		<h1>Wackr</h1>
	</div>
  </div>
  <nav>
	<ul class="navigation">
		<li><a href="./home.html">Home</a></li>
		<li><a href="./about.html">About</a></li>
		<li><a href="./solutions.html">Solutions</a></li>
		<li><a href="./signin.html">Sign In</a></li>
	</ul>
  </nav>
</header>
<div class="content">
	<!--Content goes here-->
</div>

</body>
	<!-- Page ends here -->
	
<footer class="site-footer">
	<p>Produced by Sentre Solutions</p>
</footer>

</html>